:root {
    --fww: 'Montserrat', sans-serif;
    --fm-thin: 100;
    --fm-light: 300;
    --fm-regul: 400;
    --fm-medium: 500;
    --fm-bold: 700;
    --fm-black: 900;
    --fc: white;
    --fm-p: #bdbdbd;
    --btn-c: #68bf3b;
    --bacd: white;
    --senik-c: #a6a6a6;
    --ft-a-c: #acacab;
    --col-1: calc(100% / 12 * 1);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: calc(100% / 12 * 12);

}



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: var(--fww);
    min-width: 320px;

}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}



.col-12 {
    width: var(--col-12);
    padding: 0 15px;
}

.rooo {
    display: flex;
    flex-wrap: wrap;
}


/* ===================================justify============================== */
.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-start {
    justify-content: flex-start;
}


/* =================================flex-direction==================================== */

.flex-column {
    flex-direction: column;
}


/* ==================================align-items =======================================*/

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

/* ========================================================================== */



header {
    width: 100%;
    min-height: 770px;
    background: url('./images/UYGA-VAZIFA_01.jpg') no-repeat center center / cover;
}

.logo {
    color: var(--fc);
    font-weight: var(--fm-bold);
    font-size: 24px;
    text-transform: uppercase;

}

.roo a {
    font-weight: var(--fm-regul);
    font-size: 24px;
    color: var(--fc);
}

.padd {
    margin-top: 30px;
}

button {
    background: var(--btn-c);
    border: none;
    padding: 20px 27px;
    border-radius: 40px;
    cursor: pointer;
}

button a {
    color: white;
}

.btn {
    margin-left: 87px;
}

.btn a {
    font-weight: var(--fm-regul);
    font-size: 16px;

}

/* =============nav finiw================================================ */

header p:nth-of-type(1) {
    font-family: 'Myriad Pro';
    font-weight: var(--fm-regul);
    font-size: 18px;
    color: var(--fc);
    text-transform: uppercase;
    margin-top: 195px;
    margin-bottom: 30px;
}

h1 {
    font-weight: var(--fm-black);
    font-size: 72px;
    color: var(--fc);
    text-transform: uppercase;
    margin-bottom: 40px;
    word-spacing: 8px;
    letter-spacing: normal;
}

header .row p:nth-of-type(2) {
    font-size: 18px;
    font-weight: var(--fm-regul);
    color: var(--fc);
    text-transform: uppercase;
    word-spacing: 2px;
    margin-bottom: 50px;
}

header .row .ah1 {
    font-weight: 400;
    font-size: 16px;
    font-family: 'Myriad Pro', sans-serif;
    color: var(--fc);
    margin: 20px 35px;
}

/* ==================header finiw============================ */

section p:nth-of-type(1) {
    width: 720px;
    font-weight: var(--fm-regul);
    font-size: 18px;
    color: var(--fm-p);
    line-height: 36px;
}

section p:nth-of-type(2) {
    width: 690px;
    font-weight: var(--fm-regul);
    font-size: 18px;
    color: var(--fm-p);
    line-height: 36px;
}

section p:nth-of-type(3) {
    font-weight: var(--fm-regul);
    font-size: 24px;
    color: var(--fm-p);
    margin-top: 70px;
}

.sss {
    position: relative;

}

.rrr {
    position: absolute;
    top: 370px;
    right: 190px;
}

section img {
    margin-right: 35px;
    margin-top: 20px;
}

h2 {
    margin-top: 110px;
    font-family: 'Myriad Pro', serif;
    font-weight: var(--fm-regul);
    font-size: 36px;
    color: var(--btn-c);
    text-transform: uppercase;
    margin-bottom: 65px;
}

/* ========================section finiiiiiiw=========================== */


.uuu {
    margin-top: 140px;
}

main .menu {
    font-weight: var(--fm-bold);
    font-size: 36px;
    color: #e1f5d0;
}

main img {
    margin-right: 32px;
}

.combo {
    font-weight: var(--fm-bold);
    font-size: 30px;
    color: var(--senik-c);
    margin-bottom: 32px;
}

ul li {
    font-weight: var(--fm-regul);
    font-size: 14px;
    color: var(--senik-c);
    line-height: 25px;
}

p.narx {
    margin-left: 245px;
    font-weight: var(--fm-bold);
    font-size: 30px;
    color: var(--senik-c);
    margin-top: 15px;
    margin-bottom: 32px;
}

.narx span {
    font-size: 18px;
    font-weight: var(--fm-light);
}

section .btn {
    margin-left: 125px;
}

main a {
    font-weight: var(--fm-regul);
    font-size: 16px;
    margin: 18px 30px;
    background: var(--btn-c);
    color: var(--fc);
}


.mar-top {
    margin-top: 50px;
}


/* ============================MAIN FINIW=================================================================== */

.col-4 {
    width: var(--col-4);
}


.razz {
    max-width: 1118px;
    min-height: 482px;
    margin-top: 100px;
}


.imya {
    margin-top: 28px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: var(--fm-bold);
    color: #a6a6a6 !important;
    text-align: center;
}

.danni {
    font-size: 14px !important;
    font-weight: var(--fm-regul);
    color: #a6a6a6 !important;
    line-height: 22px !important;
    text-align: center;

}


/* ===============================SECTION FINIW====================== */

footer {
    width: 100%;
    height: 200px;
    background: black;
    margin-top: 100px;
}

.fotmar-top {
    margin-top: 30px;
}

.btnmar-left {
    margin-left: 50px;
}

footer p.pizzeria {
    font-size: 24px;
    font-weight: var(--fm-bold);
    text-transform: uppercase;
    color: white;
    margin-top: 47px;
}

.rooo .nomer {
    color: white;
    font-weight: var(--fm-regul);
    font-size: 24px;
    margin-top: 17px;
}

.fooot {
    height: 100px;
    text-align: center;
}

.fooot p {
    font-size: 16px;
    font-weight: var(--fm-thin);
    color: white;
    margin-top: 30px;
}

/* ========================= FINISH WORKING==================================================== */

@media(max-width:992px) {
    /* LG */

    .col-lg-6 {
        width: var(--col-6);
    }

    .section {
        position: relative;
    }

    .podpis {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 60px;
    }

    .row {
        margin: 0;
    }

    .section img {
        margin: auto;
    }

    .rrr {
        top: 400px;
        right: 150px;
    }

    main .menu {
        margin-top: 100px;
        margin-left: 100px;
    }

    .section h2 {
        max-width: 85%;

        margin: 50px auto;
    }

    .section .sep {
        width: 100%;
        text-align: center;
    }

    .sepp {
        margin-left: 100px;
    }

    main {
        margin-top: 100px;
    }

    p.narx {
        margin-top: 50px;
        margin-right: 160px;
    }

    main button {
        margin-right: 160px;
    }

    section:nth-of-type(2) img:nth-of-type(1) {
        margin-left: 50px;
    }

}









@media(max-width:768px) {
    /* MD */
    /* header============================ */

    header .roo {
        display: none;
    }

    h1 {
        font-size: 52px;
    }

    header p:nth-of-type(1) {
        font-size: 16px;
    }

    header p:nth-of-type(2) {
        font-size: 16px;
    }

    /* ================================= */
    .rrr {
        top: 400px;
        right: 100px;
    }

    .col-md-12 {
        width: var(--col-12);
    }

    .col-md-12 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .razz {
        margin-top: 100px;
    }
}





@media(max-width:576px) {

    /* SM */
    h1 {
        font-size: 42px;
    }

    header p:nth-of-type(1) {
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
    }

    header p:nth-of-type(2) {
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
    }

    h2 {
        margin-top: 110px;
        font-size: 22px;
        font-weight: 700;
    }

    main .menu {
        margin-left: 70px;
    }

    .section p:nth-of-type(1) {
        font-size: 14px;
        /* line-height: ; */
    }

    .section p:nth-of-type(2) {
        font-size: 14px;
    }

    header p:nth-of-type(2) {
        font-size: 14px;
    }


    .sepp {
        margin-left: 50px;
        position: relative;
    }

    .rrr {
        position: relative;
        top: 0px;
        left: 520px;

    }

    main .combo {
        margin-top: 40px;
    }

    p.narx {
        margin-right: 110px;
        margin-top: 30px;
    }

    main button {
        margin-right: 100px;
    }

    footer p.pizzeria {
        font-size: 14px;
        font-weight: var(--fm-bold);
        text-transform: uppercase;
        color: white;
        margin-top: 47px;
    }

    .rooo .nomer {
        color: white;
        font-weight: var(--fm-regul);
        font-size: 14px;
        margin-top: 17px;
    }


    .fooot p {
        font-size: 12px;
        font-weight: var(--fm-thin);
        color: white;
        margin-top: 30px;
    }
}

@media(max-width:320px) {}